* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.root {
  font-family: 'Poppins', sans-serif;
  background-color: burlywood;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header
.footer {
  max-width: 100%;
  padding: 40px 0;
}

.content {
  max-width: 100%;
  padding: 155px 0 157px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.cardHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
